<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.unpair-dji-mic</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/admin/PycharmProjects/utilities/bt-auto-unpair/unpair_dji_mic.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/admin/PycharmProjects/utilities/bt-auto-unpair/unpair_dji_mic.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/admin/PycharmProjects/utilities/bt-auto-unpair/unpair_dji_mic_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/admin/PycharmProjects/utilities/bt-auto-unpair</string>
</dict>
</plist>
